
@{
    ViewBag.Title = "DungLayoutChiDinh";
    Layout = "~/Views/TestView/Index.cshtml";
}

<h2>DungLayoutChiDinh</h2>
<h2>TruyenDuLieu</h2>
<p>@ViewData["HoTen"]; </p>
<p>@ViewBag.QueQuan; </p>
<p>@TempData["Tuổi"]; </p>

