
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhongDungLayout</title>
</head>
<body>
    <div> 
        <p>
            Tôi là view không dùng layout
        </p>
        @Html.Partial("_PartialView")
    </div>
</body>
</html>
