
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestHTMLHelper</title>
</head>
<body>
    @{ Html.BeginForm("Browse", "Home");}
    @Html.Label("User Name:") <br />
    @Html.
</body>
</html>
